<div class="{{ field_wrapper }}">
  <p class="{{ label_text }}">{{ label }}</p>
  <input
    {{#if onlyRead}}disabled{{/if}}
    {{#if fieldType}}type="{{fieldType}}"{{/if}}
          name="{{ name }}"
          class="{{ value_text }}"
          value="{{ value }}"
  >
</div>
