<img src="{{ avatar }}" class="{{ avatar_class }}" alt="{{login}}">
<div class="{{description_wrapper}}">
  <h5 class="{{login_class}}">
    {{login}}
  </h5>
  <p class="{{email_class}}">
    {{email}}
  </p>
</div>
