<span class="{{ user_avatar }}">
<input id="{{ id }}" type="file" accept="image/*" name="{{ name }}" class="{{ file_input }}">
<label for="{{ id }}"><img src="{{ src }}" class="{{label_file}}" alt="user avatar"/></label>
</span>

