<div class="{{ root }}">
  <img src="{{ userIcon }}" class="{{ user_icon }}" alt="user-icon">
  <div class="{{ message_info }}">
    <h5 class="{{ user_name }}">{{ userName }}</h5>
    <p class="{{ user_message }}">{{ userMessage }}</p>
  </div>
  <div class="{{ message_extra }}">
    <time datetime="{{ isoTime }}" class="{{ message_time }}">{{ messageTime }}</time>
    {{#if newMessagesCount}}
      <div class="{{ new_message_count }}">{{ newMessagesCount }}</div>
    {{/if}}
  </div>
</div>
