<header class="{{ root }}">
  <div class="{{ user_info }}">
    <img src="{{ userIcon }}" class="{{ user_icon }}" alt="user icon">
    <h4>{{ userName }}</h4>
  </div>
  <div class="{{ menu_wrapper }}">
    <img src="{{ menuIcon }}" alt="menu icon">
  </div>
</header>
