<h5 class="{{title_class}}">{{title}}</h5>
<div class="{{ fields_wrapper }}">
  {{#each fields}}
    {{{this}}}
  {{/each}}
</div>
{{{children}}}
<div class="{{button_wrapper}}">
  {{{Button}}}
</div>
