<div class="{{ root }}">
  {{{ ChatList }}}
  {{#if chatUuid}}
    <div class="{{ body_wrapper }}">
      {{{ Header }}}
      {{{ ChatMessages }}}
      {{{ Footer }}}
    </div>
  {{else}}
    <div class="{{ choose_chat }}">Выберите чат, чтобы отправить сообщение</div>
  {{/if}}
</div>
